/* styles/Portfolio.module.css */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 2rem;
    text-align: left;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  .technicalSkills,
  .professionalExperience,
  .personalProjects,
  .educationAndCertifications {
    margin-bottom: 2rem;
  }
  
  .footer {
    margin-top: 2rem;
    font-size: 1rem;
  }
  